@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk-light.woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "LeagueSpartan";
  src: url("../fonts/leaguespartan-bold.otf");
  font-weight: bold;
  font-style: normal;
}

body {
  min-width: 1360px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  background-color: #272f45;
  color: #ffffff;
  font-family: "HKGrotesk";
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 100px;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 54px;
}

.header-logo {
  float: left;
  margin-top: 64px;
}

.main-header form {
  float: right;
}

.main-header input {
  background-color: #272f45;
  border: none;
  border-bottom: 3px solid #63757e;
  width: 176px;
  padding-bottom: 12px;
  padding-top: 12px;
  vertical-align: middle;
  margin-top: 72px;
  padding-left: 33px;
  color: #ffffff;
  font-size: 24px;
  font-family: "HKGrotesk";
}

.header-search input::-webkit-input-placeholder {
  color: #92a1a9;
  font-size: 24px;
  font-family: "HKGrotesk";
}

.offer-title {
  padding-top: 112px;
  padding-left: 60px;
  display: inline-block;
  font-family: "LeagueSpartan";
  font-size: 80px;
  margin-bottom: 51px;
}

.offer-text {
  width: 365px;
  padding-left: 60px;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 138px;
}

.offer-btn {
  margin-left: 60px;
  display: inline-block;
  width: 154px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  border: 3px solid #eec9a2;
  padding: 15px 0;
  vertical-align: top;
}
